@use "reset";

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  font-family: "Space Grotesk", sans-serif;
}

.facts-list {
  display: flex;
  flex-wrap: wrap;
}

.fact {
  background-color: rgb(106, 106, 88);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30em;

  p {
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  img {
    object-fit: contain;
    background-color: transparent;
    border-radius: 1.8rem;
  }
}
